body {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 400;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-size: 40px;
  font-weight: 300;
}

h4 {
  font-size: 32px;
  font-weight: 600;
}

h5 {
  font-size: 24px;
  font-weight: 300;
}

p {
  font-size: 18px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button {
  border-radius: 40px;
  padding: 15px 40px;
  font-size: 24px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:not(.primary) {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.button.primary {
  background-color: #7a71f6;
  color: white;
}

.button.primary img {
  filter: invert(100%);
}

.button > * + * {
  margin-left: 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 72px;
}

.header-title {
  padding: 40px 0;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 9px;
}

.header-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.header-nav ul > li + li {
  margin-left: 40px;
}

.header-button {
  text-decoration: none;
  color: black;
  padding: 10px 16px;
  font-size: 18px;
  background-image: url(./images/button-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.header-button:hover {
  transition-duration: 1s;
  color: white;
  border-radius: 30px;
  box-shadow: 
    /* inner white */ inset 20px 0 80px #9a30ea,
    /* inner left magenta short */ inset -30px 0 80px #0ff,
    /* inner right cyan short */ inset 30px 0 300px #9a30ea,
    /* inner left magenta broad */ inset -30px 0 300px #0ff,
    /* inner right cyan broad */ 0 0 300px #fff,
    /* outer white */ -20px 0 70px #9a30ea,
    /* outer left magenta */ 10px 0 70px #0ff;
  /* outer right cyan */
}

.sidebar-button {
}

.sidebar {
  display: none;
}

.sidebar-visible {
  display: flex;
}

@media (min-width: 750px) {
  .sidebar,
  .sidebar-button {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 890px;
  padding: 0 40px;
}

.title-section-nav > * + * {
  margin-left: 24px;
}

.avatar-1 {
  display: flex;
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 85%;
  z-index: -1;
}
.partner-section {
  margin: 80px 0;
}

.get-involved-section h2 {
  margin-top: 0;
  margin-bottom: 75px;
}

.get-involved-section {
  color: white;
  background-image: url(./images/section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 0;
}

.get-involved-section .column > * {
  margin: 0;
}

.values-section {
  margin: 80px 0;
}

.omi-bg {
  display: fixed;
  position: absolute;
  max-width: 1024px;
  isolation: isolate;
  z-index: -1;
}

.values-section ul {
  list-style: none;
  padding: 0;
  text-align: left;
  max-width: 770px;
}

.values-section li > * {
  margin: 0;
}

.values-section ul > * + * {
  margin-top: 52px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 322px;
  height: 250px;
  justify-content: space-between;
}

.row > * + * {
  margin-left: 38px;
}

footer {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
